.ghead 
{ 
  position: absolute;
  text-align : center;
  font-family: cursive;
  font-size : 25px;
  color : #282928;
  margin-left : 0px;
}
.gmain
{ 
text-align : center;
padding-top : 50px;
}
.gfoot
{
  font-size : 10px;
  position: absolute;
  bottom: 1;
}
