.ghead 
{ 
  position: absolute;
  text-align : center;
  font-family: cursive;
  font-size : 25px;
  color : #DCDCDC;
  margin-left : 0px;
}
.gfoot
{
  font-size : 10px;
  position: absolute;
  bottom: 1;
}
body {background : #696969;}
