.ghead 
{ 
  position: absolute;
  text-align : center;
  font-family: cursive;
  font-size : 0px;
  color : #fff;
  margin-left : 0px;
}
.gfoot
{
  font-size : 10px;
  position: absolute;
  bottom: 1;
}
body {background : #1f2023;}
.gmenu {
    position: absolute;
    top: 0;
    height: 30px;
    width: 100%;
    left: 0;
    background: #2c2f33;
}
